*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(2, 0, 105);
    color:white;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
    
}

header > nav >ul {
    display: flex;
    background-color: rgb(2, 0, 105);
    list-style: none;
    justify-content: center;
     
}
header > nav > ul > li {
    padding: 20px;
}

header > nav > ul > li:hover {
    background-color: goldenrod;
}

.nav-links{
    text-decoration: none;
    color: white;
}
.slider-box {

    width: 100%;
    height: auto;
    margin: 0px auto 0;
    overflow:hidden ;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 22s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style:none ;
    
}

.slider-box img {
    
    width: 100%;
    /* height: 100%; */
}

@keyframes slide {
    0%{margin-left:0% ;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

main{
    position: relative;
    top: 90px;
    margin-bottom: 90px;

}
a {
    text-decoration: none;
}

/* Copa America */

.comienzo {
    background-color: rgb(2, 0, 105);
    color: rgb(255, 255, 255);
    height: 150px;
    text-align: center;
    padding-top: 30px;
}
.col-12 h2  {
    text-align: center;
    font-size: 70px;
    color: rgb(2, 0, 105);
    padding: 10px;
    text-decoration: underline;
}
.col-12 {
   text-align: center;
}
.col p {
    text-align: justify;
    padding-top: 16px;
    padding-right: 100px;
}
.img-america {
    height: 800px;
    padding-top: 50px;
    padding-left: 150px;
   
}


/* finalissima */

.la-finalissima{
    padding-top: 50px;
    flex-wrap: wrap;
    padding-right: 150px;
    padding-left: 150px;
}

.la-finalissima h2 {
    text-align: center;
    font-size: 70px;
    color: rgb(2, 0, 105);
    padding: 10px;
    text-decoration: underline;
}
.la-finalissima h4 {
    text-align: center;
}
.la-finalissima .declaracion {
    text-decoration:underline;
} 

.img-finalissima {
    width: 320px;
    height: 200px;
    padding: 2px;
}


.la-finalissima article figure {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
}

/* Copa de Mundo */
.la-copa-mundo{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding-right: 150px;
    padding-left: 150px;
}

.la-copa-mundo h2 {
    color:rgb(2, 0, 105);
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    padding: 20px;
}
.la-copa-mundo img {
    width: 500px;
    float: left;
    border: 3px solid rgb(2, 0, 105);
    border-radius: 10px;
    margin-right: 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.protagonistas {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10px;
    padding: 20px;
    border: 1px  solid rgb(0, 113, 243);
    border-radius: 10px;
    width: 300px;
    height: 610px;
    text-align: center;
}
.protagonistas > img {
    width: 100px;

}
.protagonistas button {
    border-radius: 10px;
    border: none;
}
.entrevistas div h2  {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(2, 0, 105);
    height: 80px;
    color: white;
    
}

button { 
    background-color: rgb(0, 113, 243);
    padding: 6px;
    border-radius: 20%;
    margin: 10px;
    width: 100px;
    cursor: pointer;
   
}
button:hover{
    background-color: rgb(37, 70, 255);
}

button a {
    text-decoration: none;
    color: white;
}

.h2noti {
    text-align: center;
    background-color: rgb(2, 0, 105);
    color: white;
    padding: 10px;
    font-size: 50px;
}
.noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bloque-noticia {
    display: flex;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 113, 243);  
}

.bloque-noticia h3 {
    text-align:center;
    font-size: 12px;
    text-decoration:underline;
    padding: 5px;
}
.bloque-noticia img {
    height: 140px;
    padding: 10px;
}
.bloque-noticia button {
    border-radius: 10px;
    border: none;
}
.Titulos {
   width: 100%;
   height: 500px;
    background-image: 
    linear-gradient(rgba(0, 15, 66, 0.9), rgba(0,15,66, 0.9)),
    url("https://pbs.twimg.com/media/FiHEezAXEAoa_va.jpg:large");
    background-repeat: no-repeat;
    
}
.Titulos div {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.box-titulos ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.box-titulos ul li {
    padding: 45px;
}
.text {
    margin-top: -80px;
    padding-left: 50px;
}

.container-p {
    justify-content: center;
    width: 500px;
    
}
.form-process {
   
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.Formulario {
    background-image: linear-gradient(135deg, #086bff, #50bfff, #6399fd, #80ddf5, #6dbdff);
    background-size: 500%;
    animation: fanimado 10s infinite;
    width: 100%;
    padding-left: 35%;
    padding-bottom: 150px;
}
@keyframes fanimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
.Formulario .suscribite {
    color: rgb(255, 253, 237);
   padding-bottom: 50px;
   padding-top: 50px;
   text-decoration: overline;
   
   
}
.Formulario .h2p {
    text-align: center;
    width: 100%;
   
}
.Formulario .btn-formulario {
    background-color: goldenrod;
    color: white;
    border: black;
    border-radius: 10px;
    width: 54%;
    
}
.step {
    display: none; 
}

.step  h2 {
    margin-bottom: 20px;

}
.step button{
    background-color: rgb(0, 113, 243);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.step button:hover{
    background-color: rgb(37, 70, 255);
}
input{
    width: 100%;
    padding: 8px;
    margin: 8px 8px;
}

.contacto {
    padding-bottom: 15px;
}

.social a {
    padding: 0 10px;
    color: rgb(255, 255, 255);
}
.social a:hover{
    color: goldenrod;
}

footer .social p {
    text-decoration: underline;
}
footer{
    background-color: rgb(2, 0, 105);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
footer p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
